{% spaceless %}
<div class="box" id="box%boxid%">
	<div class="box-container">
		<div class="box-dialog">
            <div class="box-header">
                <a href="#" class="box-close">X</a>
                <div class="box-header-text">%header_text%</div>
            </div>
            <div class="box-inner">%content%</div>
		</div>
	</div>
</div>
{% endspaceless %}