<div class="w33 fr">
    POST
    <table>
        {% for key,value in data.Routing.post %}
        <tr>
            <td>{{ key }}</td>
            <td class="debug-message debug-line-type-{{ log.type }}">{{ data.debugVar(value) }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% spaceless %}<table>
    <tr>
    		<td>Time</td>
    		<td class="debug-memory">Memory</td>
    		<td class="debug-message debug-line-type-{{ log.type }}"></td>
    </tr>
	{% for log in data.get_log.log %}
	<tr>
		<td>{{ log.microtime }}</td>
		<td class="debug-memory">{{ log.memory|number_format(2) }}{% if log.memory_usage != 0 %}<sub {% if log.memory_usage > 0 %} class="debug-line-type-error"{% endif %}>{{ log.memory_usage }}</sub>{% endif %}</td>
		<td class="debug-message debug-line-type-{{ log.type }}">{{ log.message }}</td>
	</tr>
	{% endfor %}
    <tr>
        <td class="debug-total">{{ data.get_log.totalTime }}</td>
        <td class="debug-memory debug-total">{{ data.get_log.memory|number_format(2) }}Mb</td>
        <td class="debug-message debug-total">Queries: {{ data.get_log.queriesCount }}</td>
    </tr>
</table>
{% endspaceless %}