{% spaceless %}
<div class="box" id="box%boxid%">
	<div class="box-table">
        <div class="box-cell">
            <div class="box-img-dialog">
                <img src="%url%" alt="" class="box-img" />
            </div>
        </div>
	</div>
</div>
{% endspaceless %}