{% macro input( name, value, class, id, placeholder, maxlength ) -%}
<input type="text" name="{{ name }}" value="{{ value }}" class="ui-input {{ class|raw }}"{% if maxlength %} maxlength="{{ maxlength }}"{% endif %}{% if placeholder %} placeholder="{{ placeholder }}"{% endif %}{% if id %} id="{{ id }}"{% endif %} required="required" />
{%- endmacro -%}

{% macro select( name, options, value, id ) -%}
<select name="{{ name }}" class="ui-select">
	{%- for key, option in options -%}
	<option value="{{ key }}"{% if value==key %} selected="selected"{% endif %}{% if id %} id="{{ id }}"{% endif %}>{{ option }}</option>
	{%- endfor -%}
</select>
{%- endmacro -%}

{% macro submit( name, id ) -%}
<input type="submit" value="{{ name }}" class="ui-submit" {% if id %}id="{{ id }}"{% endif %} />
{%- endmacro -%}

{% macro textarea( name, value, class, id ) -%}
<textarea name="{{ name }}" class="ui-textarea{% if class %} {{ class|raw }}{% endif %}"{% if id %} id="{{ id|raw }}"{% endif %} required="required">{{ value }}</textarea>
{%- endmacro -%}

{% macro radio( name, value, text, checked, class ) -%}
<label><input type="radio" name="{{ name }}" value="{{ value }}"{% if checked %} checked="checked"{% endif %} class="ui-radio {{ class }}" />{{ text }}</label>
{%- endmacro -%}

{% macro link_as_button( link, text, classes, id ) -%}
<a href="{{ link }}" class="ui-button-as-link {{ classes|raw }}"{% if id %} id="{{ id|raw }}"{% endif %}>{{ text }}</a>
{%- endmacro -%}

{% macro cancel( name, class, link ) -%}
<a href="{{ link|default('#')|e }}" class="ui-button-as-link-cancel {{ class }}">{{ name|e }}</a>
{%- endmacro -%}

{% macro checkbox( name, checked, text, id ) -%}
<label><input type="checkbox" name="{{ name }}" {% if checked %} checked="checked"{% endif %} class="ui-checkbox"{% if id %} id="{{ id|raw }}"{% endif %} />{{ text|raw }}</label>
{%- endmacro -%}

{% macro remove_element( classes, data ) -%}
	<a href="#" class="ui-button-del {{ classes }}"{% if data %} data="{{ data }}"{% endif %}>X</a>
{%- endmacro -%}

{% macro iconlink( type, link, title, id ) -%}
<a href="{{ link|default('#')|e }}" class="link-icon link-icon-{{ type }}" title="{{ title|e }}"{% if id %} id="{{ id }}"{% endif %}></a>
{%- endmacro -%}

{% macro password( name, autocomplete ) -%}
<input type="password" name="{{ name }}" class="ui-input" {% if autocomplete %} autocomplete="off"{% endif %}/>
{%- endmacro -%}

{% macro datepicker(name, value, id, class ) -%}
<input type="text" name="{{ name }}" value="{{ value|e }}" class="ui-input ui-datepicker-input{% if class %} {{ class|raw }}{% endif %}"{% if id %} id="{{ id|raw }}"{% endif %} autocomplete="off" maxlength="10" />
{%- endmacro -%}

{%- macro time( name, hour, minute ) -%}
<select name="{{ name }}_hour" class="ui-select">
    {% for i in 0..23 %}
    <option value="{{ i }}"{% if hour==i %} selected="selected"{% endif %}>{{ i }}</option>
    {% endfor %}
</select> :
<select name="{{ name }}_minute" class="ui-select">
    {% set minutes = ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'] %}
    {% for i in minutes %}
    <option value="{{ i }}"{% if minute == i %} selected="selected"{% endif %}>{{ i }}</option>
    {% endfor %}
</select>
{%- endmacro -%}

{%- macro multiple_selector( name, variants, id, class ) -%}
<div class="ui-multiple"{% if id %} id="{{ id }}"{% endif %}>
    {% for key, varn in variants %}
    <span class="ui-mp-variant" data-id="{{ key }}">{{ varn }}<span class="ui-mp-close">x</span></span>
    {% endfor %}
    <div class="ui-mp-input-wrap"><input type="text" class="ui-mp-input" /></div>
    <div class="ui-mp-variants">
        {%- for key, varn in variants -%}
        <input type="hidden" name="{{ name }}[]" value="{{ key }}" />
        {%- endfor -%}
    </div>
</div>
{%- endmacro -%}