.feedback-header {
    padding-right: 15px;
    font-weight: bold;
}
.feedback-comment {
    width: 600px;
    padding-bottom: 10px;
}
.feedback-answered, .feedback-not-answered {
    font-weight: bold;
    float: right;
}
.feedback-answered {
    color: #006600;
}
.feedback-not-answered {
    color: #8b0101;
}
.feedback-table {
    margin-bottom: 10px;
}
.feedback-answer, .long_comment, .feedback-answer-form {
    display: none;
}
.feedback-expand-minimize {
    text-align: right;
}
.feedback-not-answered-li {
    background-color: #ffeaea;
}
.feedback-date {
    font-weight:bold;
    vertical-align: top !important;
}