
{% include 'main/elements/debugpanel.htm' %}
{% if not data.debug %}
{# Yandex.Metrika counter #}{% spaceless %}
<div style="display:none;"><script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter7263343 = new Ya.Metrika({id:7263343, enableAll: true, webvisor:true});
            }
            catch(e) { }
        });
    })(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/7263343" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
{% endspaceless %}{# Yandex.Metrika counter #}
{% endif %}
</body>
</html>