<!DOCTYPE html>
<html lang="{{ data.user.locale }}">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ data.get_title }}</title>
	{% if data.get_keywords %}
	<meta name="keywords" content="{{ data.get_keywords }}" />
	{% endif %}
	{% if data.get_description %}
	<meta name="description" content="{{ data.get_description }}" />
	{% endif %}
	{% for style in styles %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ style }}" />
	{% endfor %}
    <!--[if lte IE 9]>
	<link rel="stylesheet" type="text/css" media="all" href="/style/ie.css" />
    <![endif]-->
    {% if data.themeExist() %}
    <style type="text/css" media="all">{{ data.getCss()|raw }}</style>
    {% endif %}
	<link rel="shortcut icon" href="/favicon.ico" type='image/x-icon' />
	{% if data.exist_script_text %}
	<script type="text/javascript">{{ data.script_text|raw }}</script>
	{% endif %}
	{% for script in scripts %}
	<script type="text/javascript" src="{{ script }}"></script>
	{% endfor %}
</head>
<body>
{% if data.get_errors or data.get_notifications %}
    <div id="messageframe">
        <div id="noterr_onstart">
        {% if data.get_errors %}
            {% for error in data.get_errors %}
            <div class="noterr-block noterr-error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {% if data.get_notifications %}
            {% for notification in data.get_notifications %}
            <div class="noterr-block noterr-notification">{{ notification }}</div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endif %}