@font-face {
    font-family: Segoe;
    src: url(/style/font/segoeui.ttf);
}
body, html {
    height: 100%;
    position: relative;
}
body {
    font-family: Segoe,sans-serif;
    font-size: 12px;
}
input, textarea {
    font-family: Segoe, sans-serif;
    outline: none;
}
input[type=submit]::-moz-focus-inner { padding:0; border:0; }
body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
a img {
    border:0;
}
h1 {
    font-size: 26px;
    font-weight: normal;
}
h2 {
    font-weight: normal;
}
p, ul, h2 {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #0072bc;
}
a:hover {
     border: none;
     text-decoration: none;
}