/* ################# DEBUG PANEL  ################ */
#dbg-resize, #open_debug {
    display: none;
}
#open_debug {
    color: #000;
    position: fixed;
    cursor: pointer;
    z-index: 200;
    bottom: 210px;
    left: 0;
    border-width: 1px 1px 1px 0;
    padding: 5px 10px;
    font-size: 22px;
    border-style: solid;
    border-color: #5c5c5c;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
}
#open_debug:hover {
    background: #e9e9e9; /* Old browsers */
    background: -moz-linear-gradient(top, #e9e9e9 0%, #e4e4e4 50%, #dcdcdc 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(50%,#e4e4e4), color-stop(51%,#dcdcdc), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e9e9e9 0%,#e4e4e4 50%,#dcdcdc 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e9e9e9 0%,#e4e4e4 50%,#dcdcdc 51%,#fefefe 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #e9e9e9 0%,#e4e4e4 50%,#dcdcdc 51%,#fefefe 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #e9e9e9 0%,#e4e4e4 50%,#dcdcdc 51%,#fefefe 100%); /* W3C */
}
#open_debug:active {
    bottom: 209px;
}
#debugpanel {
    color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.3em;
    z-index: 200;
}
#dbg-slider {
    overflow: auto;
    height: inherit;
}
#dbg-inner {
    padding:5px 10px;
}
#dbg-wrapper {
    border-top: 1px solid #555;
    background-color: #ccc;
    overflow: hidden;
    height: 210px;
}
.debug-line-type-sql {
    color: #EA6400;
}
.debug-line-type-error {
    color:#ff0000;
    font-weight: bold;
}
.debug-line-type-good {
    color: #009966;
    font-weight: bold;
}

.debug-message, .debug-memory {
    padding-left: 15px;
}
.debug-total {
    padding-top: 10px;
    font-weight: bold;
}
#dbg-resize {
    cursor: s-resize;
    height: 7px;
    left: 0;
    width: 100%;
    position: absolute;
}
/* ################## / DEBUG PANEL ################## */