.fl {
    float: left;
}
.fr {
    float: right;
}
.cc {
    text-align: center;
}
.m-auto {
    margin: 0 auto;
}
body {
    background-color: #f7f8f9;
}
/* header */
.wrap_block {
    width: 930px;
    margin: 0 auto;
    padding: 0 25px;
}
.header-block-content {
    width: 980px;
    margin: 0 auto;
    padding: 0 25px;
}
.header-block {
    height: 50px;
    background: url(/img/header_bg.png) repeat-x;
}
.header-block-search {
    float: right;
    margin-top: 10px;
    position: relative;
}
.header-block-input {
    width: 345px;
    height: 18px;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:  5px 0 5px 5px;
}
.header-text {
    display: block;
    cursor: pointer;
    background: url(/img/header_text.png) no-repeat;
    width: 447px;
    height: 40px;
    margin:  30px auto 30px auto;
}
.header-br {
    height: 5px;
    background-color: #fff;
}
.header-text-br {
    height: 3px;
    background-color: #fff;
    margin-bottom: 30px;
}
.heder-submit {
    height: 30px;
    width: 35px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: url(/img/search_icon.png) no-repeat 0 7px;
    border: none;
}





