{% import "main/elements/ui.htm" as ui %}
<div id="login-form">
    <script type="text/javascript">
            function vk()
            {
                window.location = 'http://api.vkontakte.ru/oauth/authorize?client_id={{ data.vkKey() }}&scope=photos&redirect_uri={{ ways.add('type', 'vk', ways.ulogin_registration)|url_encode }}&response_type=code';
            }
            function facebook()
            {
                window.location = 'https://www.facebook.com/dialog/oauth?client_id={{ data.fbKey() }}&redirect_uri=http://{{ ways.add('type', 'fb', ways.ulogin_registration)|url_encode }}';
            }
        </script>
    <div id="login-social">
        <div onclick="vk();" id="login-social-vk"></div>
        <div onclick="facebook();" id="login-social-fb"></div>
        <h1 id="login-header">{{ lang.login.SIGN_IN|raw }}</h1>
    </div>
    <div class="wb">
        <form action="{{ ways.thispage }}" method="post">
            <table id="login-table">
                <tr>
                    <td class="login-form-text">{{ lang.login['LOGIN']|raw }}</td>
                    <td>{{ ui.input( 'login', data.login ) }}</td>
                </tr>
                <tr>
                    <td class="login-form-text">{{ lang.login['PASSWORD']|raw }}</td>
                    <td>{{ ui.password( 'password' ) }}<br /><a href="{{ ways.remember_password }}">{{ lang.login.REMEMBER_PASSWORD|raw }}</a></td>
                </tr>
            </table>
            <div class="tc"><br />
                <label><input type="checkbox" name="remember_me" checked="checked" />{{ lang.login['REMEMBER_ME']|raw }}</label>
            </div>
            <div id="login-button"><input type="submit" value="{{ lang.common['SIGN_IN']|raw }}" class="login-submit" /></div>
            <input type="hidden" name="check_login" value="1" />
        </form>
    </div>
</div>