#login-form {
    width: 390px;
    margin: 0 auto;
}
#login-table {
    margin-top: 20px;
    width: 100%;
}
#login-header {
    padding-top: 5px;
}
.login-form-text {
    font-size: 18px;
    padding-right:10px;
    width: 150px;
    text-align: right;
    padding-bottom:20px;
}
.login-submit {
    font-size: 22px;
    padding: 3px 15px;
}
#login-social-fb, #login-social-vk {
    background-image: url('../img/login.png');
    width: 46px;
    height: 46px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
}
#login-social-fb {
    background-position: 46px 0;
}
#login-social-fb:active , #login-social-vk:active {
    position:relative;
    top:1px;
}
#login-social {
    height: 62px;
}
#login-button {
    text-align: center;
    padding-bottom: 15px;
}