<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ lang.common['SITENAME']|raw }}</title>
	{% for style in styles %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ style }}" />
	{% endfor %}
</head>
<body>