{% import "administration/ui_elements.htm" as ui %}
<div class="adm-header">
	<a href="{{ ways.admin_users_list }}">{{ lang.admin.users.HEADER }}</a> &rarr; {{ lang.admin.user.USER|raw }} &laquo;{{ data.user.username }}&raquo;
</div>
<div class="ui-form-block">
    <table class="w100">
        <tr class="ui-form-line">
            <td class="ui-form-dd"><a href="{{ ways.admin_user_rules( data.user.id_user ) }}" class="fl">{{ lang.admin.users.VIEW_RULES }}</a>{{ lang.admin.user.LOGIN|raw }}:</td>
            <td>{{ ui.banbutton( ways.admin_user_to_ban( data.user.id_user ) ) }}{{ data.user.username }}</td>
        </tr>
        <tr class="ui-form-line">
            <td class="ui-form-dd">{{ lang.admin.user.REGISTERED|raw }}:</td>
            <td>{{ data.user.created|date('j F Y H:i') }}</td>
        </tr>
        <tr class="ui-form-line">
            <td class="ui-form-dd">{{ lang.admin.user.EMAIL|raw }}:</td>
            <td>{{ data.user.email }}</td>
        </tr>
        <tr class="ui-form-line">
            <td class="ui-form-dd">{{ lang.admin.user.LAST_CHANGE_PASSWORD|raw }}:</td>
            <td>{% if data.user.pass_changed != 0 %}{{ data.user.pass_changed|date('H:i d/m/Y') }}{% else %}{{ lang.admin.user.NOT_CHANGE_PASSWORD }}{% endif %}</td>
        </tr>
    </table>
    <div id="user-change-pass-form">
        <form action="{{ ways.thispage }}" method="post">
            <table>
                <tr class="ui-form-line">
                    <td class="ui-form-dd">{{ lang.admin.user.NEW_PASSWORD }}:</td>
                    <td>{{ ui.password( 'password' ) }} <a href="#" id="user-gen-password" class="dashed">{{ lang.admin.user.GENERATE_PASSWORD }}</a> <span></span></td>
                </tr>
                <tr class="ui-form-line">
                    <td class="ui-form-dd">{{ lang.admin.user.PASSWORD_AGAIN }}:</td>
                    <td>{{ ui.password( 'repassword' ) }}</td>
                </tr>
                <tr class="ui-form-line">
                    <td></td>
                    <td><label>{{ ui.checkbox( 'send_password', data.sendPassword ) }} {{ lang.admin.user.SEND_EMAIL_WITH_NEW_PASSWORD|raw }}</label></td>
                </tr>
                <tr class="ui-form-line">
                    <td></td>
                    <td>{{ ui.submit( lang.admin.user.CHANGE ) }} <a href="#" id="user-hide-change-pass-form" class="dashed">{{ lang.admin.user.NOT_CHANGE_PASSWORD|raw }}</a></td>
                </tr>
            </table>
        </form>
    </div>
    <table>
        <tr class="ui-form-line">
            <td class="ui-form-dd"></td>
            <td><a href="#" id="user-show-change-pass-form" class="dashed">{{ lang.admin.user.CHANGE_PASSWORD|raw }}</a></td>
        </tr>
    </table>
</div>