<div class="header-block">
    <div class="header-block-content">
        {% if not data.thispageIs(ways.search) %}
        <div class="header-block-search">
            <form action="{{ ways.search }}" method="get">
                <input name="search_text" type="text" class="header-block-input change-ie" placeholder="поиск">
                <span><input type="submit" value="" class="heder-submit" /></span>
            </form>
        </div>
        {% endif %}
    </div>
</div>
<div class="header-br"></div>
<a class="header-text" href="{{ ways.faq }}"></a>
{% block menu %}{% endblock %}
<div class="wrap_block">
    {% block content %}{% endblock %}
</div>