{% import 'administration/ui_elements.htm' as ui %}
<p><a href="{{ ways.faq_new}}">Добавить вопрос</a></p>        
<p><a href="{{ ways.faq}}">Все</a> <a href="{{ ways.faq_answered}}">Закрытые</a> <a href="{{ ways.faq_not_answered}}">Открытые</a></p>
{% if data.getFAQList %}
{% for faq in data.getFAQList%}
<p>{{ faq.title }} </p>
<p>{{ faq.created }}</p>
{% endfor %}
{% else %}
<p>Нет вопросов</p>
{% endif %}