{% import 'administration/ui_elements.htm' as ui %}
<div class="adm-header">
	<a href="{{ ways.admin_users_list() }}">{{ lang.admin.users.HEADER  }}</a> &rarr; {{ lang.admin.users.NEW_USER }}
</div>
<form method="post" action="{{ ways.thispage }}">
	<input type="hidden" name="editing" value="1" />
	<table id="nexus-terms">
	   <tr>
		  <td>{{ lang.admin.users.USER_NAME }}</td>
		  <td>{{ ui.input('name', data.getName ) }}</td>
	   </tr>
	   <tr>
		  <td>{{ lang.admin.users.USER_PASSWORD }}</td>
		  <td>{{ ui.password('password', data.getPassword) }}</td>
	   </tr>
	   <tr>
		  <td>{{ lang.admin.users.RE_PASSWORD }}</td>
		  <td>{{ ui.password('re_password', data.getRePassword) }}</td>
	   </tr>
	   <tr>
		  <td></td><td>{{ ui.submit(lang.admin.users.CREATE_USER) }}</td>
	   </tr>
	</table>
</form>